<html ng-app="App" class="ng-scope"><head>
    <title>AngularJS SEO with PhantomJS</title>
    <!-- include this if you are not using hashbangs -->
    <!-- <meta name="fragment" content="!" /> -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{display:none;}ng\:form{display:block;}</style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
    <script src="./js/application.js"></script>

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
  </head>
  <body data-status="ready" class="">
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#!/">AngularJS SEO</a>
            <div class="nav-collapse navbar-responsive-collapse">
              <ul class="nav">
                <li><a href="#!/">Home</a></li>
                <li><a href="#!/videos">Videos</a></li>
                <li><a href="#!/videos/slow">Slow Loading Videos</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div ng-view=""><div class="videos-feed ng-scope">
  <h1>Videos <span ng-show="isSlow">(slow)</span></h1>
  <!-- ngRepeat: video in videos --><div ng-repeat="video in videos" class="ng-scope ng-binding">
    PUNCH ME IN DA DICK! (Pom Gets Wi-Fi)
  </div><div ng-repeat="video in videos" class="ng-scope ng-binding">
    Official Call of Duty: Ghosts Multiplayer Reveal Trailer
  </div><div ng-repeat="video in videos" class="ng-scope ng-binding">
    WHO SHIT!?
  </div><div ng-repeat="video in videos" class="ng-scope ng-binding">
    MY BOYFRIEND DOES MY MAKEUP *CHALLENGE*
  </div><div ng-repeat="video in videos" class="ng-scope ng-binding">
    Bleaching My Hair 50 Shades of Gay (ft. Bertie) [#SPECIALAUGUEST #8]
  </div><div ng-repeat="video in videos" class="ng-scope ng-binding">
    Lady Gaga - Applause (Official Lyric Video)
  </div><div ng-repeat="video in videos" class="ng-scope ng-binding">
    Call of Duty: Ghosts MULTIPLAYER Gameplay Trailer! - (COD Ghost Online Reveal 2013 HD)
  </div><div ng-repeat="video in videos" class="ng-scope ng-binding">
    Cake Smash
  </div><div ng-repeat="video in videos" class="ng-scope ng-binding">
    Grand Theft Auto Online: Official Gameplay Video
  </div><div ng-repeat="video in videos" class="ng-scope ng-binding">
    Looking With Your Face
  </div><div ng-repeat="video in videos" class="ng-scope ng-binding">
    BOXING KITTY
  </div><div ng-repeat="video in videos" class="ng-scope ng-binding">
    Cry Talks: I'm Not Your Fucking Puppet
  </div><div ng-repeat="video in videos" class="ng-scope ng-binding">
    GTFO! (Dreadout Horror Game)
  </div><div ng-repeat="video in videos" class="ng-scope ng-binding">
    A LIVING ROCK? -- Mind Blow #69
  </div><div ng-repeat="video in videos" class="ng-scope ng-binding">
    FIFA 13 | Top 5 Goals of the Week #25
  </div><div ng-repeat="video in videos" class="ng-scope ng-binding">
    NAKED GUITAR PICS [ASK KINGSLEY #29]
  </div><div ng-repeat="video in videos" class="ng-scope ng-binding">
    Call of Duty: Ghosts - Hardened &amp; Prestige Edition info! Season Pass &amp; MORE! (COD Ghost)
  </div><div ng-repeat="video in videos" class="ng-scope ng-binding">
    Killer Beehive Prank!!
  </div><div ng-repeat="video in videos" class="ng-scope ng-binding">
    Minecraft: FLASH! Parkour Racing w/Mitch &amp; Jerome!
  </div><div ng-repeat="video in videos" class="ng-scope ng-binding">
    Família Dinossauro - Nostalgia
  </div><div ng-repeat="video in videos" class="ng-scope ng-binding">
    MOM EMBARRASES KID ON 1ST DAY OF SCHOOL!!!
  </div><div ng-repeat="video in videos" class="ng-scope ng-binding">
    DISGUSTING DINNER DADDY!
  </div><div ng-repeat="video in videos" class="ng-scope ng-binding">
    Minecraft: Hunger Games w/Mitch! Game 225 - DAT AXE DOUGH!
  </div><div ng-repeat="video in videos" class="ng-scope ng-binding">
    Behind the Scenes: Brace for Impact
  </div><div ng-repeat="video in videos" class="ng-scope ng-binding">
    10 Incredible Food Life Hacks you need to know.
  </div>
</div>
</div>
    </div>
  

</body></html>