RewriteEngine On

RewriteCond %{REQUEST_URI}  ^/phantomjs-seo/$
RewriteCond %{QUERY_STRING} ^_escaped_fragment_=/?(.*)$
RewriteRule ^(.*)$  http://localhost:8000/%1 [P]
#RewriteRule ^(.*)$ /external/%1? [NC,L]

RewriteCond %{REQUEST_URI}  ^/phantomjs-seo/cache/?(.*)$
RewriteRule ^(.*)$  http://localhost:8000/%1 [P]
